{#
/**
 * @file
 * Contains the text of the pager_example explanation page
 */
#}
<div class='examples-description'>
{% trans %}
В таблице показаны доступные задачи и их решения, полученные вами.
{% endtrans %}
</div>
